<!-- templates/about.html -->
{% extends 'layout.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>About Us</h2>
      
    </div>
    <div class="col-md-4">
        <p >
        The name of the brand is &infin;. It's an HTML representation of infinity😊. I believe that people don't just wear a brand but also wear the meaning behind the brand .  
        And this is what the brand means to me :
        As we know that infinity means endless, something that never ends . 
        To me , it means life . The life we live is endless . Just because we die doesn't mean life itself ends , we tend to live for ourselves but what I believe is that life must be lived for other people. 
        The life we live today shapes the life of the next generation meaning we do not live for  only ourselves but for other people also .
        and also remember that our souls live forever , and there is no life without soul
        Soul is infinite 
        Life is infinite 
        "life on earth may be finite but our souls are infinite "
    </p>
    </div>
</div>
{% endblock %}
