<!-- templates/cart.html -->
{% extends 'layout.html' %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}
<h1>Shopping Cart</h1>
{% if cart %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        <tr>
            <td>{{ item['name'] }}</td>
            <td>R{{ item['price'] }}</td>
            <td>
                <form action="{{ url_for('remove_from_cart', product_id=item['id']) }}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                </form>
                <form action="{{ url_for('add_to_cart', product_id=item['id']) }}" method="post">
                    <button type="submit" class="btn btn-success btn-sm">Add</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="text-right">
    <p>Total Price: R{{ total_price }}</p>
    <a href="{{ url_for('checkout') }}" class="btn btn-primary">Proceed to Checkout</a>
</div>
{% else %}
<p>Your cart is empty.</p>
{% endif %}
{% endblock %}
