{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to Infinitt Online Shopping Platform</h1>
    <p>Browse our products and start shopping!</p>

    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.product1 }}</h5>
                        <p class="card-text">R{{ product.700 }}</p>
                        <a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
